<!-- <h1 [style.color]="isSpecial ? 'red' : 'blue' ">{{pokemonName}}</h1>
<button type="button" (click)="clickBtn()">Mon bouton</button> 

{{interpolation}}
Intéraction angular = [ ]
Event = ()
Boxing = #

<div style="padding-top: 10px;">
<input type="text" (keyup)="onKeyUp($event)">
<p>→ : {{targett}}</p>
</div>

<h3 *ngIf="display">Mon titre</h3>

<ol>
    <li *ngFor="let pokemon of pokemons">{{pokemon.name}}</li>
</ol>
-->

<h1 class='center'>Pokémons</h1>
<div class='container'>
    <div class="row">
        <div *ngFor='let pokemon of pokemons' class="col s6 m4" (click)="selectPokemon(pokemon)">
            <div class="card horizontal" pkmnBorderCard="red">
                <div class="card-image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name | uppercase }}</p>
                        <p><small>{{ pokemon.created | date:"dd/MM/yyyy" }}</small></p>
                        <!-- <div pokemonTypeColor> -->
                            <span class="{{type | pokemonTypeColor}}" *ngFor='let type of pokemon.types'>{{ type }}</span>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
